{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <title> {% block title %} {% endblock title %} </title>
</head>

<body>

  {% include 'ecommerce/navbar.html' %}

  {% block content %}


  {% endblock %}

  {% include 'ecommerce/footer.html' %}
    
</body>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'js/add_to_cart.js' %}" ></script>
    <script type="text/javascript" >

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
    </script>
</html>